.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0%;
    &__heading {
        width: 100%;
        height: 50%;
        @include logo(1.9rem);
        text-align: center;
        margin: 5px auto 5px auto;
    }
    &__form {
        background-color: $color-bg;
        width: 100%;
        @include text(1rem, $color-txt);
        font-weight: bold;
        p {
            text-align: center;
        }
        &__input {
            border: none;
            background-color: $color-bg;
            text-align: center;
            &::placeholder {
                @include text(1rem, $color-txt);
                font-weight: bold;
            }
        }
    }
}