.menu {
    border-radius: 40px 40px 0px 0px;
    background-color: lighten($color-bg, 5%);
    overflow: visible;
    padding-top: 10px;
    padding-bottom: 40px;
    position: relative;
    top: -50px;
    width: 100%;
    &__title {
        margin-left: 15px;
        @include logo(1.5rem, $color-txt);
        margin-bottom: -10px;
    }
    &__heart {
        @include text(1.5rem, black, 300);
        position: relative;
        display: block;
        color: black;
        top: -20px;
        left: 265px;
        @media (min-width: 374px) {
            left: 310px;
        }
        @media (min-width: 424px) {
            left: 360px;
        }
        @media (min-width: 767px) {
            left: 300px;
        }
        &--full {
            @include text(1.5rem, black, 300);
            position: relative;
            display: block;
            background: -webkit-linear-gradient($color-primary, $color-secondary);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            top: -20px;
            left: 237px;
            opacity: 0;
            @media (min-width: 374px) {
                left: 282px;
            }
            @media (min-width: 424px) {
                left: 332px;
            }
            @media (min-width: 767px) {
                left: 272px;
            }
            &:hover {
                animation: HeartAppear .75s;
                animation-fill-mode: both;
            }
        }
    }
    &__starter {
        margin-left: 15px;
        @media (min-width: 767px) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        &__title {
            @include text(1rem, $color-txt, $normal);
            border-bottom: 3px $color-tertiary solid;
            width: 40px; 
            height: 25px;
            margin-right: 100%
        }
    }
    &__dish {
        @extend .menu__starter;
        &__title {
            @extend .menu__starter__title;
        }
    }
    &__dessert {
        @extend .menu__starter;
        margin-bottom: 35px;
        &__title {
            @extend .menu__starter__title;
        }

    }
    &__btn {
        @include center;
    }
}

.plat {
    background-color: white;
    margin-right: 15px;
    padding-left: 10px;
    border-radius: 15px;
    animation: ItemAppear 1s;
    animation-fill-mode: both;
    display: flex;
    width: 90%;
    @media (min-width: 767px) {
        width: 45%;
    }
    &__info {
        width: 80%;
        &__title {
            @include text(1rem, $color-txt, $bold);
            margin-bottom: -10px;
            margin-top: -1px;
            padding-top: 10px;
            @include ellipsis;
        }
        &__sup {
            @include text(1rem, $color-txt, $normal);
            @include ellipsis;
        }
    }
    &__price {
        &__p {
            @include text(1rem, $color-txt, $bold);
            position: relative;
            top: 20px;
            left: -18px;
            @media (min-width: 374px) {
                left: 290px;
            }
            @media (min-width: 424px) {
                left: 335px;
            }
        }
    }
    &__confirm {
        background: #99E2D0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px 0 20px;
        border-radius: 0 15px 15px 0;
      }
}
