.menu {
    border-radius: 40px 40px 0px 0px;
    background-color: lighten($color-bg, 5%);
    overflow: visible;
    padding-top: 10px;
    padding-bottom: 40px;
    position: relative;
    top: -50px;
    &__title {
        margin-left: 15px;
        @include logo(1.5rem, $color-txt);
        margin-bottom: -10px;
    }
    &__heart {
        @include text(1.5rem, black, 300);
        position: relative;
        top: -20px;
        left: 265px;
    }
    &__starter {
        margin-left: 15px;
        &__title {
            @include text(1rem, $color-txt, $normal);
            font-weight: 300;
        }
    }
    &__dish {
        @extend .menu__starter;
        &__title {
            @extend .menu__starter__title;
        }
    }
    &__dessert {
        @extend .menu__starter;
        margin-bottom: 35px;
        &__title {
            @extend .menu__starter__title;
        }

    }
    &__btn {
        @include center;
    }
}

.plat {
    background-color: white;
    margin-right: 15px;
    padding-left: 10px;
    border-radius: 15px;
    &__title {
        @include text(1rem, $color-txt, $bold);
        margin-bottom: -10px;
        padding-top: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 90%;
    }
    &__sup {
        @include text(1rem, $color-txt, $normal);
        font-weight: $normal;
        margin-bottom: -20px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 90%;
        flex-wrap: nowrap;
    }
    &__price {
        @include text(1rem, $color-txt, $bold);
        font-weight: $bold;
        position: relative;
        top: -15px;
        left: 240px;
    }
}
