.op {
    margin: 25px 15px 35px 15px;
    &__title {
        @include text(1.5rem, $color-txt, $normal);
    }
    &__step {
        display: flex;
        flex-direction: row;
        background-color: lighten($color-bg, 5%);
        margin-bottom: 25px;
        width: 95%;
        border-radius: 20px;
        @include center;
        &:hover {
            background-color: lighten($color-primary, 36%);
        }
        &__num {
            position: relative;
            left: -10px;
            @include text(1rem, white, $normal);
            text-align: center;
            background-color: $color-primary;
            padding: 5px 10px 5px 10px;
            border-radius: 150px;
        }
        &__icone {
            @include icone(1rem, $color-primary);
            margin: 22px 15px auto 10px;
        }
        &__title {
            @include text(1rem, $color-txt, $normal);
            margin-top: 22px;
        }
    }
}