.pres {
    width: 100%;
    justify-content: center;
    @include center;
    margin-top: -15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: lighten($color-bg, 5%);
    &__title {
        width: 80%;
        @include center;
        @include text(1.5rem, $color-txt); 
        font-weight: 900;
    }
    &__p {
        @include text(1rem, $color-txt);
        width: 90%;
        @include center;
    }
}