.resto {
    width: 100%;
    background-color: lighten($color-bg, 5%);
    padding-bottom: 30px;
    @media (min-width: 767px) {
        display: flex;
        flex-wrap: wrap;
    }
    &__title {
        @include text(1.5rem, $color-txt, $bold);
        margin-left: 15px;
        padding-top: 50px;
        width: 80%;
        @media (min-width: 1920px) {
            width: 90%;
        }
    }
    &__lien {
        text-decoration: none;
        @media (min-width: 767px) {
            width: 45%;
            margin-right: 35px;
        }
        @media (min-width: 1023px) {
            width: 21%;
        }
        @media (min-width: 1440px) {
            width: 22%;
        }
        @media (min-width: 1920px) {
            width: 17%;
        }
        &__fig {
            width: 90%;
            margin-left: 15px;
            margin-bottom: 30px;
            box-shadow: 5px 5px rgb(230, 230, 230);
            border-radius: 15px;
            @media (min-width: 767px) {
                width: 100%;
            }
            &__img {
                width: 100%;
                height: 160px;
                border-radius: 15px 15px 0px 0px;
                @media (min-width: 374px) {
                    height: 175px;
                }
                @media (min-width: 424px) {
                    height: 190px;
                }
                @media (min-width: 1023px) {
                    height: 100px;
                }
                @media (min-width: 1440px) {
                    height: 170px;
                }
            }
            &__cap {
                padding-top: 1px;
                background-color: white;
                margin-top: -10px;
                border-radius: 0px 0px 15px 15px;
                &--new {
                    margin-top: -45px;
                }
                &__new {
                    background-color: $color-tertiary; 
                    color: darken($color-tertiary, 50%);
                    width: 30%;
                    @include center;
                    font-family: $txt;
                    font-size: 1rem;                
                    border-radius: 2px;
                    position: relative;
                    left: 32%;
                    top: -120px;
                    @media (min-width: 424px) {
                        top: -140px;
                    }
                    @media (min-width: 1023px) {
                        top: -65px;
                    }
                    @media (min-width: 1440px) {
                        top: -127px;
                    }
                }
                &__title {
                    margin-left: 8px;
                    margin-bottom: -10px;
                    @include text(1rem, $color-txt, $bold);
                }
                &__sup {
                    margin-left: 8px;
                    @include text(1rem, $color-txt, $normal);
                    margin-bottom: -20px;
                }
                &__heart {
                    font-size: 1.75rem;
                    position: relative;
                    display: block;
                    color: #000;
                    left: 245px;
                    top: -20px;
                    @media (min-width: 374px) {
                        left: 290px;
                    }
                    @media (min-width: 424px) {
                        left: 330px;
                    }
                    @media (min-width: 767px) {
                        left: 300px;
                    }
                    @media (min-width: 1023px) {
                        left: 175px;
                    }
                    @media (min-width: 1440px) {
                        left: 275px;
                    }
                    &--full {
                        font-size: 1.75rem;
                        position: relative;
                        display: block;
                        background: -webkit-linear-gradient($color-primary, $color-secondary);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        left: 213px;
                        top: -20px;
                        opacity: 0;
                        @media (min-width: 374px) {
                            left: 258px;
                        }
                        @media (min-width: 424px) {
                            left: 298px;
                        }
                        @media (min-width: 767px) {
                            left: 268px;
                        }
                        @media (min-width: 1023px) {
                            left: 143px;
                        }
                        @media (min-width: 1440px) {
                            left: 243px;
                        }
                        &:hover {
                            animation: HeartAppear .75s;
                            animation-fill-mode: both;
                        }
                    }
                }
            }
        }
    }
}