@keyframes loader {
  0% {
    opacity: 0.9;
  }
  99% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes ItemAppear {
    0% {
      z-index: -10;
    }
    100% {
      z-index: 1;
    }
}