@mixin logo($size, $color) {
    font-family: $logo; 
    font-size: $size;
    color: $color;
}

@mixin text($size, $color, $weight) {
    font-family: $txt;
    font-size: $size;
    color: $color;
    font-weight: $weight;
}

@mixin icone($size, $color) {
    font-size: $size;
    color: $color;    
}

@mixin center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}