@mixin logo($size) {
    font-family: $logo;
    font-size: $size;
}

@mixin text($size, $color) {
    font-family: $txt;
    font-size: $size;
    color: $color;
}

@mixin center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}